@import "@/styles/variables.module.scss";

.header {
    display: flex;
    flex-direction: column;
    height: $header-bar-height;
    flex-shrink: 0;
}

.headerTitle {
    font-size: $brand-font-size;
    text-align: center;
    font-family: $code-font-family;
}

.headerItem {
    display: inline-flex;
    flex-grow: 1;
    text-decoration: none;
    height: 3rem;
    align-items: center;
    justify-content: center;
    color: $link-color;
    transition: color 0.25s;
    flex-shrink: 0;
}

.headerItem:hover {
    color: $link-color-hover;
}

.headerItem:active {
    color: $link-color-pressed;
}

.headerItemList {
    display: flex;
    flex-wrap: nowrap;
}

.headerItemButton {
    display: none;
}


.headerItemWrapper {
    display: flex;
    flex-grow: 1;
}

@media only screen and (min-width: $small-sreen-dimension) and (max-width: $large-sreen-dimension) {
    .headerItemList {
        padding: 0 10vw;
        flex-grow: 1;
    }
}
@media only screen and (min-width: $large-sreen-dimension) {
    
    .headerItemList {
        padding: 0 20vw;
        flex-grow: 1;
    }
}

@media only screen and (max-width: $small-sreen-dimension) {
    .headerTitle {
        font-size: $brand-font-size-small;
    }

    .headerItemButton {
        display: block;
        width: 1.5rem;
        height: 1.5rem;
        align-self: center;
    }

    .headerItemWrapper {
        flex-direction: column;
        opacity: 0;
        position: absolute;
        overflow: hidden;
        z-index: 12;
        top: 0;
        left: 0;
        width: 100%;
        background-color: $primary-background-color;
        transition: opacity 0.5s;
    }

    .headerExpandToggle:checked ~ .headerItemList .headerItemWrapper {
        opacity: 1;
    }

    .headerItemList {
        flex-grow: 0;
        padding: 0 30px;
        position: relative;
    }
}
