@import "@/styles/variables.module.scss";

.header {
    display: flex;
    flex-direction: column;
    height: $header-bar-height;
    position: fixed;
    z-index: 20;
    background-color: $primary-background-color;
    width: 100%;
}

.linkedIn, .github {
    display: inline-block;
    font-size: 0.6rem;

    margin: 0 5px;

    img {
        margin: 0 5px;
        width: auto;
        height: 1.5rem;
        vertical-align: middle;
    }
}

.socalProfilesWrapper {
    display: flex;
}

.headerTitle {
    text-align: center;
}

.headerTitle {
    font-size: $brand-font-size;
    font-family: $code-font-family;
}

.headerItem {
    display: inline-flex;
    flex-grow: 1;
    text-decoration: none;
    height: 3rem;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
}

.headerItemList {
    display: flex;
    flex-wrap: nowrap;
}

.headerItemButton {
    display: none;
}


.headerItemWrapper {
    display: flex;
    flex-grow: 1;
}

@media only screen and (min-width: $small-sreen-dimension) {
    .socalProfilesWrapper {
        position: absolute;
        top: 0;
        right: 0;
        margin: 10px;
    }
}

@media only screen and (min-width: $small-sreen-dimension) and (max-width: $large-sreen-dimension) {
    .headerItemList {
        padding: 0 10vw;
        flex-grow: 1;
    }
}

@media only screen and (min-width: $large-sreen-dimension) {
    .headerItemList {
        padding: 0 20vw;
        flex-grow: 1;
    }
}

@media only screen and (max-width: $small-sreen-dimension) {
    .headerTitle {
        font-size: $brand-font-size-small;
    }

    .socalProfilesWrapper {
        justify-content: center;
        margin-bottom: 10px;

        span {
            display: none;
        }
    }

    .headerItemButton {
        display: block;
        width: 1.5rem;
        height: 1.5rem;
        align-self: center;
    }

    .headerItemWrapper {
        flex-direction: column;
        opacity: 0;
        position: absolute;
        overflow: hidden;
        z-index: 12;
        top: 0;
        left: 0;
        width: 0;
        background-color: $primary-background-color;
        transition: opacity 0.5s;
    }

    .headerExpandToggle:checked~.headerItemList .headerItemWrapper {
        opacity: 1;
        width: 100%;
    }

    .headerItemList {
        flex-grow: 0;
        padding: 0 30px;
        position: relative;
    }
}