@import "@/styles/variables.module.scss";

code {
    font-family: $code-font-family !important;
}

main {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

* {
    box-sizing: border-box;
}

body {
    font-family: $primary-font-family;
    background-color: $primary-background-color;
    color: $primary-text-color;
}

.hljs {
    background-color: transparent !important;
}
