@import "@/styles/variables.module.scss";

code {
    font-family: $code-font-family !important;
}

* {
    box-sizing: border-box;
}

body {
    font-family: $primary-font-family;
    background-color: $primary-background-color;
    color: $primary-text-color;
}

.hljs {
    background-color: transparent !important;
}


a {
    color: $link-color;
    text-decoration: none;
    transition: color 0.25s;
}

a:hover {
    color: $link-color-hover;
}

a:active {
    color: $link-color-pressed;
}
.responsiveImg {
    height: auto;
    display: block;
    margin: 0 auto;
}

@media only screen and (max-width: $small-sreen-dimension) {
    .responsiveImg {
        width: 100%;
    }
}

@media only screen and (min-width: $small-sreen-dimension) and (max-width: $large-sreen-dimension) {
    .responsiveImg {
        width: 45vw;
    }
}

@media only screen and (min-width: $large-sreen-dimension) {
    .responsiveImg {
        width: 30vw;
    }
}

