@import "@/styles/variables.module.scss";

.postDate {
    color: $secondary-text-color;
}

.preview {
    position: relative;
    max-height: 22rem;
    overflow: hidden;

    -webkit-user-select: none;
    user-select: none;
}

.mask {
    display: block;
    width: 100%;
    height: 15rem;
    position: absolute;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(rgba(0, 0, 0, 0), $primary-background-color 90%);
}