$small-sreen-dimension: 768px;
$large-sreen-dimension: 1440px;

$brand-font-size: 2rem;

$code-font-family: 'Cascadia Code', 'Consolas', 'monospace', sans-serif;
$primary-font-family: 'Helvetica Neu', 'Arial', sans-serif;

$primary-text-color: #262626;

$link-color: #5a5a5a;
$link-color-hover: lighten($link-color, 30%);
$link-color-pressed: $link-color-hover;

$secondary-text-color: lighten($primary-text-color, 60%);

$primary-background-color: #fcfcfc;

@mixin add-main-body-padding($selector) {
    
    #{$selector} {
        @media only screen and (max-width: $small-sreen-dimension) {
            padding: 0 1.5rem;
        }

        @media only screen and (min-width: $small-sreen-dimension) and (max-width: $large-sreen-dimension) {
            padding: 0 15vw;
        }
        
        @media only screen and (min-width: $large-sreen-dimension) {
            padding: 0 20vw;
        }
    }
}
